meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Requisitos del sistema de gestión ambiental según NTC ISO 14001:2015.
meta(meta name="description" content="A través de un estudio de caso de una organización definida, en un contexto real, el aprendiz abordará cada requisito exigido en la NTC ISO 14001:2015, de manera tal que conozca cómo darle respuesta a este, según el tipo y naturaleza de la organización. Lo cual busca que el aprendiz se enfoque en identificar el contexto de la organización, las necesidades y expectativas de las partes interesadas, el liderazgo, la planificación, el apoyo, la operación, evaluación de desempeño y mejora, y pueda determinar el grado de cumplimiento del SGA de la organización según los requisitos de la NTC ISO 14001:2015.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")
