h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 220201089-2. Apropiar los requisitos de la NTC ISO 14001 2015, según naturaleza de la organización.