.container
    .header-ecored
        h1 2. Operación del SGA
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img32.png").img-fluid
        p.mt-5 En este requisito la organización debe proporcionar una serie de herramientas de soporte a las actividades del sistema de gestión ambiental (recursos, competencia y toma de conciencia).  Es necesario que la organización establezca y destine los recursos necesarios para el establecimiento, implementación, mantenimiento y mejora continua del sistema de gestión ambiental, por esto la alta dirección debe asegurar recursos humanos, financieros y físicos necesarios.
        .sub-ecored.mt-5
            h2.text-blue Recursos, competencias, conciencia, comunicación e información documentada
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img33.png").img-fluid   
        .sub-ecored
            h3 Competencia 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img34.png").img-fluid 
        .sub-ecored
            h3 Toma de conciencia 
        p Los métodos para aumentar la toma de conciencia pueden incluir la comunicación interna, las señales visuales y carteles, las campañas, la formación, la educación y la tutoría.
        .sub-ecored
            h3 Información documentada
        p Los documentos comprenden el sistema de gestión ambiental, incluidos los procesos relacionados:
        .list.ml-3
            .list__item
                .list__item__icon
                    img.icon-top.img-a(src="assets/images/pages/ilustraciones/icon.svg").img-fluid  
            .list__txt    
                p La información generada para que la organización opere. 

        .list.ml-3
            .list__item
                .list__item__icon
                    img.icon-top.img-a(src="assets/images/pages/ilustraciones/icon.svg").img-fluid  
            .list__txt    
                p La evidencia de los resultados alcanzados (registros).   
        
        .jumbotron.color-4.mt-5
            img.img-a(src="assets/images/pages/ilustraciones/img35.png").img-fluid
            img.img-a(src="assets/images/pages/ilustraciones/img36.png").img-fluid 
            .header-arrow.py-3.my-5
                h3.text-center Ejemplo de aplicación.
            img.img-a(src="assets/images/pages/ilustraciones/img37.png").img-fluid 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img38.png").img-fluid 
        .sub-ecored
            h2 Planificación y control operacional, preparación y respuesta ante emergencias
        p La organización debería asegurarse de que sus operaciones y procesos asociados se llevan a cabo de manera controlada para cumplir los compromisos de su política ambiental, lograr sus objetivos ambientales y gestionar sus aspectos ambientales significativos, requisitos legales y otros requisitos, y sus riesgos y oportunidades que es necesario abordar. 

        p Para planificar controles operacionales eficaces y eficientes, la organización debería identificar cuándo se necesitan estos controles y cuál es el propósito. (NTC-ISO 14004:2016). 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img39.svg").img-fluid 
        img.img-a.mb-5(src="assets/images/pages/ilustraciones/img40.svg").img-fluid  
        img.img-a.mb-5(src="assets/images/pages/ilustraciones/img41.svg").img-fluid 
        .sub-ecored
            h3 Respuesta ante emergencias
        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img42.svg").img-fluid
            .col
                p La organización debería estar preparada para distintos tipos de situaciones, tales como derrames a pequeña escala de sustancias químicas, el fallo del equipo de reducción de emisiones, situaciones ambientales graves que pongan en peligros a los seres humanos y al medio ambiente en gran medida.

                p.mb-0 Al planificar la preparación ante emergencias, pueden considerarse los vínculos con otros sistemas de gestión relacionados con la continuidad de negocio y la seguridad y salud ocupacional.
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img43.png").img-fluid 
        p En la norma ISO 14001:2015, se especifica en este requisito que la organización debe establecer un método sistemático para seguir, medir, analizar y evaluar su desempeño ambiental, en periodos de tiempo definidos, que dependen de sus requisitos legales y otros requisitos, de su aspecto y política ambiental, de las necesidades de las partes interesadas con la que interacciona.
        .sub-ecored.mt-5
            h2.text-blue Seguimiento, medición, análisis y evaluación, auditoría interna, revisión por la dirección y herramientas de verificación del cumplimiento del SGA
        p La organización debe documentar el procedimiento para el seguimiento, medición, análisis y evaluación del SGA, donde se describa: 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img44.png").img-fluid 
        img.img-a.mb-5(src="assets/images/pages/ilustraciones/img45.svg").img-fluid 
        .sub-ecored
            h2.text-blue Relación entre los indicadores de desempeño ambiental y la organización
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img46.svg").img-fluid  
        p Es muy importante que las organizaciones consideren y tomen en cuenta los diferentes indicadores ambientales sectoriales básicos. Indicadores de condición ambiental (ICA), indicadores de desempeño de gestión (IDG), indicadores de desempeño operacional (IDO), a continuación, los ejemplos.
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img47.svg").img-fluid 

        .sub-ecored
            h3 Auditoría interna
        p La auditoría interna es una excelente herramienta de control y seguimiento de la eficiencia y eficacia del sistema de gestión ambiental, los resultados que arroja son útiles, para corregir no conformidades, ver oportunidades en pro de la mejora continua.

        p Se recomienda la lectura de la Norma ISO 19011:2012 DIRECTRICES PARA LA AUDITORÍA DE LOS SISTEMAS DE GESTIÓN, la cual proporciona las directrices de un programa y plan de auditoría. 

        p La organización debe establecer, implementar y mantener uno o varios programas de auditoría, teniendo en cuenta lo siguiente.
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img48.svg").img-fluid  

        .sub-ecored
            h3 Métodos de auditoría
        img.img-a.mb-5(src="assets/images/pages/ilustraciones/img49.svg").img-fluid 

        .sub-ecored
            h3 Revisión por la dirección                     
        p Como la alta dirección es la cabeza del sistema de gestión ambiental, debe revisarlo y asegurarse de su conveniencia, adecuación y eficacia; lo debe hacer a intervalos planificados, considerando lo siguiente:
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img51.svg").img-fluid 
        p A fin de mejorar el sistema de gestión ambiental de una organización, considerando las oportunidades de mejora, es importante tener en cuenta el análisis del desempeño ambiental, las auditorías ambientales y la revisión por la dirección. 
        .sub-ecored 
            h3 No conformidad y acción correctiva y mejora continua
        p La norma técnica colombiana ISO 14004:2016, recomienda que una organización debiera tener el siguiente enfoque sistemático para identificar las no conformidades con el fin de implementar y mantener el sistema de gestión ambiental.  
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img52.svg").img-fluid 
        img.img-a(src="assets/images/pages/ilustraciones/img53.svg").img-fluid                          