.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Acción correctiva:
            | Acción para eliminar la causa de una no conformidad y evitar que vuelva a ocurrir.
        
        p
            strong.mr-2 Alta dirección:
            | Persona o grupo de personas que dirige y controla una organización al más alto nivel.
        p 
            strong.mr-2 Aspecto ambiental:
            | Elemento de las actividades, productos o servicios de una organización que interactúa o puede interactuar con el medio ambiente.
        p 
            strong.mr-2 Auditoría:
            | Proceso sistemático, independiente y documentado para obtener las evidencias de auditoría y evaluarlas de manera objetiva con el fin de determinar el grado en el que se cumplen los criterios de auditoría. 

        p 
            strong.mr-2 Ciclo de vida:
            | Etapas consecutivas e interrelacionadas de un sistema de producto (o servicio), desde la adquisición de materia prima o su generación a partir de recursos naturales hasta la disposición final. 

        p 
            strong.mr-2 Competencia:
            | Capacidad para aplicar conocimientos y habilidades con el fin de lograr los resultados previstos.  

        p
            strong.mr-2 Condición ambiental:
            | Estado o característica del medio ambiente, determinado en un punto específico en el tiempo. 

        p
            strong.mr-2 Conformidad:
            | Cumplimiento de un requisito. 

        p
            strong.mr-2 Contratar externamente:
            | Establecer un acuerdo mediante el cual una organización externa realiza parte de una función o proceso de una organización. 

        p
            strong.mr-2 Desempeño:
            | Resultado medible.

        p
            strong.mr-2 Desempeño ambiental:
            | Desempeño relacionado con la gestión de aspectos ambientales.                                           

        p   
            strong.mr-2 DOFA:
            | Debilidades, oportunidades, fortalezas y amenazas.

        p   
            strong.mr-2 Eficacia:
            | Grado en el que se realiza las actividades planificadas y se logran los resultados planificados.  

        p   
            strong.mr-2 ICA:
            | Indicador de condición ambiental.

        p   
            strong.mr-2 IDG:
            | Indicador de gestión de desempeño.

        p   
            strong.mr-2 IDO:
            | indicadores de desempeño operacional.

        p   
            strong.mr-2 Impacto ambiental:
            | Cambio en el medio ambiente, ya sea adverso o beneficioso, como resultado total o parcial de los aspectos ambientales de una organización.  

        p   
            strong.mr-2 Indicador:
            | Representación medible de la condición o el estado de las operaciones, la gestión, o las condiciones. 

        p   
            strong.mr-2 Medición:
            | Proceso para determinar un valor. 

        p   
            strong.mr-2 Medio ambiente:
            | Entorno en el cual una organización opera, incluidos el aire, el agua, el suelo, los recursos naturales, la flora, la fauna, los seres humanos y sus interrelaciones.  

        p   
            strong.mr-2 Mejora continua:
            | Actividad recurrente para mejorar el desempeño.  

        p   
            strong.mr-2 No conformidad:
            | Incumplimiento de un requisito. 

        p   
            strong.mr-2 Objetivo:
            | Resultado a lograr. 

        p   
            strong.mr-2 Objetivo ambiental:
            | Objetivo establecido por la organización, coherente con su política ambiental. 

        p   
            strong.mr-2 Organización:
            | Persona o grupo de personas que tienen sus propias funciones y responsabilidades, autoridades y relaciones para el logro de sus objetivos. 

        p   
            strong.mr-2 Parte interesada:
            | Persona u organización que puede afectar, verse afectada, o percibirse como afectada por una decisión o actividad. 
        p   
            strong.mr-2 Política ambiental:
            | Intenciones y dirección de una organización, relacionadas con el desempeño ambiental, como las expresa formalmente su alta dirección. 

        p   
            strong.mr-2 Prevención de la contaminación:
            | Utilización de procesos, prácticas, técnicas, materiales, productos, servicios o energía para evitar, reducir o controlar (en forma separada o  en combinación) la generación, emisión o descarga de cualquier tipo de contaminante o  residuo, con el fin de reducir impactos ambientales  adversos. 

        p   
            strong.mr-2 Requisito:
            | Necesidad o expectativa establecida, generalmente implícita u obligatoria.  

        p   
            strong.mr-2 Requisitos legales y otros requisitos:
            | Requisitos legales que una organización   debe cumplir y otros requisitos que una organización decide cumplir.  

        p   
            strong.mr-2 Riesgo:
            | Efecto de la incertidumbre. 

        p   
            strong.mr-2 Riesgos y oportunidades:
            | Efectos potenciales adversos (amenazas) y efectos potenciales beneficiosos (oportunidades).  

        p   
            strong.mr-2 Seguimiento:
            | Determinación del estado de un sistema, un proceso o una actividad.  

        p   
            strong.mr-2 Sistema de gestión ambiental (SGA):
            | Parte del sistema de gestión usada para gestionar aspectos ambientales, cumplir los requisitos legales y otros requisitos, y abordar los riesgos y oportunidades.