

.container
    .header-ecored
        h1.text-blue Introducción
    .jumbotron.bg-white
        .row.justify-content-center.align-items-center
            .col
                .quote.mb-3
                    .quote__bar
                        .quote__bar__icon
                            img(src="assets/images/pages/ilustraciones/citar1.svg", alt="").img-icon                 
                        .quote__bar__hr
                    .quote__text
                        p.mb-0 Mis ideas proceden de mis sueños […]. Si tienes suerte y eres capaz de utilizar algo que has visto en tus sueños, el resultado será totalmente original. No es algo que ya exista en el mundo, sino que está en tu cabeza. Pienso que esto es extraordinario. NTC-ISO 14001:2015
                    .quote__bar
                        .quote__bar__hr
                        .quote__bar__icon
                            img(src="assets/images/pages/ilustraciones/citar2.svg", alt="").img-icon
            .col-auto
                img.img-a.mt-5(src="assets/images/pages/ilustraciones/img1.png").img-fluid
        
        .row.justify-content-center.align-items-center.color-1
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img2.png").img-fluid
            .col
                p.mb-0 La Norma Internacional ISO 14001:2015 es aplicable a cualquier organización, independientemente de su tamaño, tipo y naturaleza.    
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img3.png").img-fluid 
        p Para identificar los requisitos del sistema de gestión ambiental, se desarrollará el estudio de caso “Organización ECOTEX LTDA.”:

        p La organización ECOTEX Ltda, empresa que se encuentra ubicada en la ciudad de Bogotá y su actividad económica es la confección, fabricación y comercialización de camisas de seda. Esta organización es reconocida en el sector textil de la ciudad, por su compromiso y liderazgo.
        p La organización carece de herramientas que le permitan conocer los procesos u operaciones de sus actividades que interactúan con el medio ambiente, así como los aspectos e impactos ambientales más significativos que estaba ocasionando sobre el mismo. 
        p Esta situación llevó a que se formule una planeación estratégica, que inició con la revisión ambiental inicial, la cual partió en la identificación de aspectos claves en lo que estaba fallando y se evidenció la necesidad de formular programas encaminados a mejorar el desempeño ambiental de la organización.
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-8
                p En la empresa los diferentes procesos, operaciones y actividades involucran aspectos ambientales como: la generación de residuos tanto convencionales como peligrosos, vertimientos de aguas residuales, emisiones, consumo de recursos naturales, es por ello, que se vio la necesidad de que cada uno de estos aspectos ambientales se incluyeran en programas de manejo ambiental, control de operaciones y planes de mejoramiento continuo para su prevención y mitigación.
 
                p Debido al desarrollo de su actividad económica, y tomando como base las diferentes etapas asociadas al proceso de fabricación del producto y su grado de incidencia normal o anormal sobre los diferentes componentes del medio ambiente, se tomó en cuenta cada una de las áreas, procesos y actividades conexas como: labores administrativas, mantenimiento de instalaciones y maquinaria, servicios de cafetería, almacenamiento de residuos, entre otras. 
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img4.png").img-fluid 
        .row.justify-content-center.align-items-center
            .col-12.col-md-8
                p Los impactos más relevantes de la organización se ven reflejados en el área de producción, puesto que es el área, donde se desarrollan toda clase de actividades generadoras de impactos ambientales.

                p Después de analizadas cada una de estas etapas, se identificó por cada uno de los procesos y operaciones todas las entradas y posteriores salidas, lo cual fue de gran ayuda para la identificación de aspectos e impactos ambientales.

                p.mb-0 Para el desarrollo del proceso productivo la compañía utiliza diversas materias primas e insumos como: colorantes, detergentes, blanqueadores y otra serie de productos químicos que generan aguas residuales con altas concentraciones de contaminantes.
            .col-12.col-md-4            
                img.img-a(src="assets/images/pages/ilustraciones/img5.png").img-fluid                    

        .row.justify-content-center.align-items-center.color-2.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img6.png").img-fluid
            .col
                p.mb-0 Con el propósito de disminuir los impactos generados al recurso hídrico y cumplir la normativa ambiental vigente, se vio la necesidad de proponer la optimización del sistema de tratamiento de las aguas residuales, para obtener una descarga o efluente de alta calidad en el que los parámetros sujetos a control, estén dentro de los límites máximos permisibles, para la reutilización del agua residual en el proceso productivo o para la descarga final a la red de alcantarillado, para ello se propuso la implementación de una planta de tratamiento de aguas residuales.}
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img7.png").img-fluid 