.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td ICONTEC (2016) NTC ISO 14004 SISTEMAS DE GESTIÓN AMBIENTAL. DIRECTRICES GENERALES SOBRE LA IMPLEMENTACIÓN
                    
                    td Norma
                    td 
                        a(href="https://e-collection-icontec-org.bdigital.sena.edu.co/normavw.aspx?ID=6129", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td ICONTEC (2015) NTC ISO 14001. Sistemas de Gestión Ambiental, Requisitos con Orientación para su Uso

                    td Norma
                    td 
                        a(href="https://e-collection-icontec-org.bdigital.sena.edu.co/pdfview/viewer.aspx?locale=es-419&Q=6B06EF84B73EF82F8C0BEC96DA30B6DD2B1DA961E0A07526&Req=", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar     

                tr
                    td ICONTEC (2016) NTC ISO 14031 GESTIÓN AMBIENTAL. EVALUACIÓN DEL DESEMPEÑO AMBIENTAL. DIRECTRICES
                    td Norma
                    td 
                        a(href="hhttps://e-collection-icontec-org.bdigital.sena.edu.co/normavw.aspx?ID=6137", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td ICONTEC (2015) NTC ISO 9001. SISTEMAS DE GESTIÓN DE LA CALIDAD. REQUISITOS
                    td Norma
                    td 
                        a(href="https://e-collection-icontec-org.bdigital.sena.edu.co/normavw.aspx?ID=6496", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar