include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("ICONTEC (2007) GTC 93, guía para la ejecución de la revisión ambiental inicial (Rai) y del análisis de diferencias (GAP ANALYSIS), como parte de la implementación y mejora de un sistema de gestión ambiental.", "https://e-collection-icontec org.bdigital.sena.edu.co/pdfview/viewer.aspx?locale=es-419&Q=69410938B212FD5CDF8E406872DEF030&Req=")

        +referenciaItem("CONTEC (2009) GTC 104, gestión del riesgo ambiental. principios y proces", " https://e-collection-icontec-org.bdigital.sena.edu.co/pdfview/viewer.aspx?locale=es-419&Q=2D932458FF6D82CB4A164D1D0EDC23E3&Req=")

        +referenciaItem("ICONTEC (2016) NTC ISO 14004 sistemas de gestión ambiental. Directrices generales sobre la implementación. ", "https://e-collection-icontec-org.bdigital.sena.edu.co/normavw.aspx?ID=6129")

        +referenciaItem("ICONTEC (2016) NTC ISO 14031 gestión ambiental. Evaluación del desempeño ambiental. Directrices. ", "https://e-collection-icontec-org.bdigital.sena.edu.co/normavw.aspx?ID=6137")

        +referenciaItem("ICONTEC (2018)  NTC ISO 31000 gestión del riesgo. Directrices.", " https://e-collection-icontec-org.bdigital.sena.edu.co/pdfview/viewer.aspx?locale=es-419&Q=A40856BEF24836C5BC83B40C66447B59312408EA304CDFA9&Req=")

        +referenciaItem("ICONTEC (2018) NTC ISO 19011 directrices para la auditoría de sistemas de gestión", "https://e-collection-icontec-org.bdigital.sena.edu.co/pdfview/viewer.aspx?locale=es-419&Q=E06FB8431B1DE0FCB74F92E17C6B41D8312408EA304CDFA9&Req=")

        +referenciaItem("ICONTEC. (2015, 23 septiembre). NTC ISO 14001. Sistemas de Gestión Ambiental, Requisitos con Orientación para su Uso.", "https://e-collection-icontec-org.bdigital.sena.edu.co/pdfview/viewer.aspx?locale=es-419&Q=6B06EF84B73EF82F8C0BEC96DA30B6DD2B1DA961E0A07526&Req=")

        +referenciaItem("McGinn, N., & Welsh, T. (2001). Hacia una metodología para el análisis de portadores de intereses*. Revista latinoamericana de estudios    educativos, 31(1), 15-40. ", "https://search-proquest-com.bdigital.sena.edu.co/docview/204660569?accountid=31491")                

        +referenciaItem("Ponce Talancón, H. (2007). La matriz FODA: alternativa de diagnóstico y determinación de estrategias de intervención en diversas organizaciones. Enseñanza e Investigación en Psicología, 12 (1), 113-130. ", "http://www.redalyc.org.bdigital.sena.edu.co/articulo.oa?id=29212108.")

        +referenciaItem("SENA. (2015). Modelación para la prevención y control de aspectos e impactos ambientales en la elaboración de camisas de seda. Informativa CG, 1(2). ", " https://hdl.handle.net/11404/6613")

        +referenciaItem("Valdes Fernández, J. L., Alonso García, M. C., Calso Morales, N., & Novo Soto, M. (2016). Guía Para La Aplicación De ISO 14001 2015 (Vol. 1). AENOR(Ed).", " ")                        

        

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            